.dashboardBody {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

.container {
    min-height: 100%;
    width: 50%;
    background: #E5f4ec;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboardHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    align-items: center;
    border-bottom: solid 3px grey;
    margin-bottom: 10px;
}